<h1>Homepage</h1>

<ul>
    <a href="/projects">
      All projects
    </a>
</ul>
<ul>
    <a href="/founders">
      All founders
    </a>
</ul>
<ul>
    <a href="/investors">
      All investors
    </a>
</ul>
