<h1>Homepage</h1>

<ul>
  <li>
    <a href="/projects">
      All projects
    </a>
  </li>
  <li>
    <a href="/founders">
      All founders
    </a>
  </li>
  <li>
    <a href="/investors">
      All investors
    </a>
  </li>
</ul>
