<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">

    <link rel="stylesheet" href="css/my_styles.css">

  </head>

  <body>
  <div>
<ul>
<% if session[:user_id] == nil %>
<a class="base-button neutral-button" href="/user_sign_in">Sign in</a>
<a class="base-button neutral-button" href="/user_sign_up">Sign up</a>
<% else %>
<a class="base-button neutral-button" href="/user_sign_out">Sign out</a>
<a class="base-button neutral-button" href="/favourites">My favourite projects</a>
    <% end %>
<a class="base-button neutral-button" href="/">Home</a>
</ul>
    <%= yield %>
  </body>
</html>
